body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .header-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .ant-input {
    width: 200px;
    margin-right: 10px;
  }
  
  .ant-btn {
    margin-left: 10px;
  }
  